<!DOCTYPE html>
<html lang="zh">
<head>
    {{ include head_head }}
    <title>Hisoka - home</title>
    {{ include head_foot }}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        {{ include navbar }}
        <div id="page-wrapper">
