<!DOCTYPE html>
<html lang="zh">
{{ TYPE = 'home' }}
<head>
    {{ include head_head }}
    <title>Hisoka - home</title>
    {{ include head_foot }}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        {{ include navbar }}
        <div id="page-wrapper">
            {{ include home_index }}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    {{ include foot }}
</body>
</html>
