<!DOCTYPE html>
<html lang="zh">
{{ TYPE = 'login' }}
<head>
    {{ include head_head }}
    <title>Hisoka - home</title>
    {{ include head_foot }}
</head>
<body>
    Hello world.
    {{ include foot }}
</body>
</html>

