<%= err %>
<form action='/login' method='POST'>
    <input type='hidden' name='_csrf' value='<%= token %>'>
    <input type='text' name='name'>
    <input type='password' name='passwd'>
    <input type='submit' value='login'>
</form>
